{% extends 'base.html' %}
{% block title %} {{ page['title'] }} — {{ config.blogName }} {% endblock %}
{% block content %}
<div class="card post">
	<div class="card-body">
		<div class="post-title">
			<h1>{{ page['title'] }}</h1>
			<div class="badges">
				<span class="badge time" style="overflow: clip;"><button class="btn-link-reset text-reset" onclick="copy('{{ page.slug }}')" title="{{translations.copy_permalink}}"><i class="ri-link"></i> <span>{{translations.copy_permalink}}</span></button></span>
				{% if session['user'] %}
				<a class="badge time btn-link-reset text-reset" href="{{ url_for('editPage', slug=page['slug']) }}" title="{{translations.edit}}"><i class="ri-edit-fill"></i> <span>{{translations.edit}}</span></a>
				{% endif %}
			</div>
		</div>
		<div class="post-content">{{ page.content|render_markdown }}</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
	function copy(link) {
		navigator.clipboard.writeText("{{config.blogDomain}}/p/" + link + "/")
	}
</script>
{% endblock %}
