{% extends 'account/base.html' %}
{% block title %}{{translations.authentication}} - {{translations.account_settings}} — {{ config.BLOG_NAME }} {% endblock %}
{% set sel_auth = 'selected' %}
{% block settings %}
<h1 style="margin-bottom: 1em;">{{translations.authentication}}</h1>
<h2>{{translations.change_username}}</h2>
<form action="{{ url_for('changeUsername') }}" method="POST">
	<div class="form-group">
		<label for="newusername">{{translations.username}}</label>
		<input class="form-control" type="username" id="newusername" name="newusername" value="{{ request.form['newusername'] or session['user'] }}">
	</div>
	<div class="form-group">
		<label for="currentpass_n">{{translations.password}}</label>
		<input class="form-control" type="password" id="currentpass_n" name="currentpass_n" value="{{ request.form['currentpass_n'] }}">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary mt-2" style="margin-bottom: 20px;">{{translations.change_username}}</button>
	</div>
</form>
{% endblock %}