.env
static/css/themes/purpledark.css
static/css/themes/minimal_dark.css
static/css/themes/mono_dark.css
static/img/*.*
config/main.json
config/cactus.json
static/avatars/*.*
!static/avatars/default.svg
flb*.*
smtptest.py
__pycache__/
venv/