* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--bg);
	color: var(--color);
	font-family: var(--font);
	max-width: var(--body-max-width);
	margin: auto;
}
code {
	background: var(--code-bg);
}

.post-content, .editor-preview > p {
	max-width: fit-content;
	margin: 10px 0;
	line-height: 1.7;
	font-size: 14px;
	overflow-wrap: anywhere;
	color: var(--post-content-color);
}

a {
	color: var(--accent);
	text-underline-offset: 3px;
}
a:hover {
	color: var(--link-hover);
/*	text-decoration: none;*/
}
.card, .btn, .cactus-button, input, .alert { border-radius: var(--border-radius); }

img {
	border-radius: var(--border-radius);
}

footer {
	margin: 30px 0;
}
footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .links .settings select {
	margin-bottom: 0;
	padding: 3px;
	border-radius: var(--border-radius);
}
footer .links .settings select:hover, footer .links .settings select:focus {
	background: var(--second-bg);
}
hr {
	color: var(--color);
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.3em;
	font-size: revert;
	word-wrap: anywhere;
	font-family: var(--heading-font);
}
.post-info h1, .post-info h2, .post-info h3, .post-info h4, .post-info h5, .post-info h6 {
	margin-bottom: 0;
}
.posts .card {
	overflow-wrap: anywhere;
}
.author a {
	display: flex;
	align-items: center;
	gap: .5em;
	text-decoration: none;
	color: var(--muted);
	max-width: fit-content;
	font-size: 14px;
}

.card {
	background: var(--second-bg);
	width: var(--container-max-width);
	padding: 1em;
}
.card.login {
	width: 300px; margin: auto;
}
.navbar {
	padding: 1em 5px;
	max-width: var(--container-max-width);
    /* align-items: center; */
    margin: auto;
}
.navbar .main-content {
	display: flex;
	justify-content: space-between;
}
.navbar .logged-in {
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
}
.navbar .logged-in div {
	text-align: right;
	color: var(--muted);
	font-size: 12px;
	max-width: fit-content;
	align-self: end;
	cursor: default;
}
.navbar .logged-in div a {
	text-decoration: inherit;
}
.custom-links p {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}
.custom-links p a, .custom-links p {
	color: var(--muted);
	text-decoration: none;
}
.custom-links p a:hover {
	color: var(--color);
}
dialog {
	border: none;
	margin: auto;
	border-radius: var(--border-radius);
	max-width: 60%;
	width: 600px;
	background: var(--third-bg);
	padding: 1em;
}
dialog::backdrop {
	opacity: .65;
	background: var(--second-bg);
}
.dialog-head {
	display: flex; align-items: center; justify-content: space-between;
	margin-bottom: 1em;
}
.dialog-head h3 {
	margin-bottom: 0;
}
dialog input.form-control,
dialog select.form-control {
	width: 100%;
}
.btn, .cactus-button {
	background: var(--btn-bg);
	color: var(--btn-color);
	text-decoration: none;
	border: none;
	font-family: var(--font);
	font-size: 14px;
	cursor: pointer;
	padding: var(--btn-padding);
	border: 1px solid transparent;
}
.btn, .cactus-button, .btn:active, .cactus-button:active {
	transition: var(--transition);
}
.btn:hover, .cactus-button:hover {
	background: var(--btn-hover-bg);
	color: var(--btn-hover-color);
}
.btn-danger {
	background: var(--btn-danger-bg);
}
.btn-danger:hover {
	background: var(--btn-danger-bg-hover);
}
.navbar-brand {
	text-decoration: none;
	align-items: center;
	display: flex;
	gap: 5px;
}
.navbar-brand span {
	color: var(--color);
	font-family: var(--heading-font);
}
.text-center {
	text-align: center;
}
.badge, .badges .badge, .post-list .time, .post-info .time span {
	font-size: 12px;
	color: var(--muted);
	display: flex;
	gap: 5px;
	align-items: center;
}
.badge [class^="ri-"], .badge [class*="ri-"] {
	font-size: 16px;
}
/*.badges .badge, .badge {
	margin-bottom: 10px;
}*/
.badges {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}
.badges .tag {
	margin-bottom: 0;
}
.post-list .time {
	margin-top: 5px;
}
.post-title h2 {
	margin-bottom: 0;
}
.card-title {
	margin-bottom: 5px;
}
.container {
	max-width: var(--container-max-width);
	margin: auto;
}
.form-group {
	display: flex;
	flex-direction: column;
}
.form-group .btn {
	width: fit-content;
}
input[type="checkbox"]:not(.post-content input[type="checkbox"]) {
	width: 18px;
	height: 18px;
	padding: 0 !important;
	appearance: none;
	border: 1px solid transparent;
	margin-right: 5px;
	display: inline-flex;
	font-family: "remixicon";
}
input[type="checkbox"] {
	background: var(--bg);
}
input[type="checkbox"]:not(.post-content input[type="checkbox"])::before {
	content: '';
	margin: auto;
}
input[type="checkbox"]:hover {
	background: var(--third-bg);
}
input[type="checkbox"]:active {
	background: var(--btn-bg);
}
input[type="checkbox"]:checked:not(.post-content input[type="checkbox"])::before {
	content: '\eb7b';
	font-size: 16px;
}
input[type="checkbox"]:checked {
	background: var(--accent);
	color: var(--bg);
}
input[type="checkbox"]:checked:hover {
	background: var(--link-hover);
}
.form-control, .cactus-login-field > input, .cactus-editor-name > span > input {
	background: var(--bg);
	color: var(--color);
	border: none;
	padding: 8px 14px;
	font-size: 14px;
	margin-bottom: 10px;
	font-family: var(--font);
	border-radius: var(--border-radius);
	accent-color: var(--accent);
}
.expl {
	font-size: 12px;
	color: var(--muted);
	font-family: var(--font) !important;
}
.account textarea.form-control {
	font-family: var(--content-font);
}
.form-control[disabled], .cactus-login-field > input[disabled], .cactus-editor-name > span > input[disabled] {
	opacity: 0.5;
}
.form-control:focus-visible, .cactus-login-field > input:focus-visible, .cactus-editor-name > span > input:focus-visible {
	outline: var(--input-outline);
	border-radius: var(--border-radius);
}
.pagination {
	display: flex;
    justify-content: center;
    margin: 1em 0;
    gap: 0.5em;
}
.pagination a {
    height: 30px;
    display: flex;
    align-items: center;
}
.task-list-item-checkbox {
	margin-right: .4em;
}
.mt-2 {
	margin-top: 10px;
}
.mtb-2 {
	margin: 10px 0;
}
.text-reset, .text-reset:hover {
	color: inherit;
	text-decoration: none;
}
.btn-link-reset {
	background: inherit;
	border: inherit;
	display: inherit;
	gap: inherit;
	font-size: inherit;
	font-family: inherit;
}
.btn-link-reset:hover {
	color: var(--color);
	cursor: pointer;
}
small, .small {
	font-size: 12px;
}
.alert {
	background: var(--second-bg);
    padding: 4px 12px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    flex-direction: row-reverse;
    display: flex;
    font-size: 14px;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
}
.post-content,  .card-body p:not(.posts-count), li {
	font-family: var(--content-font);
}
select, .author-info p {
	font-family: var(--font);
}
.title-slug {
	display: flex; align-items: center; gap: 10px; justify-content: space-between;
}
.hide {
	display: none;
}
#alert-close {
	appearance: none;
    color: var(--accent);
    width: 24px;
    height: 24px;
    font-size: 22px;
    background: 0 0 !important;
    cursor: pointer;
    font-weight: 600;
    margin-right: -4px;
}
#alert-close:hover {
	color: var(--link-hover);
}
#alert-close::before {
	content: '×';
	display: flex;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
}
.card li {
	margin-left: 25px;
}
footer .links a:first-child {
	margin-left: 0;
}
footer .links a:last-child {
	margin-right: 0;
}
footer .powered-by span {
	margin: 0 5px;
}
footer .powered-by a.text-reset:hover {
	color: var(--color);
}

label {
	font-size: small;
	margin-bottom: 5px;
}
label[data-r]::after {
	content: '*';
	color: #ff0000;
	margin-left: 3px;
}
textarea {
	resize: vertical;
}
table {
	max-width: 100%;
	overflow: scroll;
	display: block;
}
table th, table td {
	border-radius: var(--border-radius);
	background: var(--third-bg);
	padding: 5px;
}
blockquote {
	border-left: 3px solid var(--color);
	padding: 3px;
	padding-left: 1em;
}
blockquote p {
	font-style: italic;
	margin: 0 !important;
	color: var(--color) !important;
}
blockquote p::before {
	content: open-quote;
}
blockquote p::after {
	content: close-quote;
}
mark {
	background: var(--accent);
	color: var(--bg);
}
.post-content img, .editor-preview img {
	max-width: var(--image-max-width);
	max-height: var(--image-max-height);
}
#logged-in-menu a {
	font-size: 14px;
}
menu hr {
	opacity: 0.1;
	margin: 5px 0;
}
.drop-open, .drop-open-label {
	padding: .65em;
	margin: 0;
	background: 0 0;
	display: inline-flex;
	align-items: center;
	gap: 3px;
	color: inherit;
	font-size: 14px;
    border-radius: var(--border-radius);
}
.drop-open:hover, menuitem:hover > .drop-open,
.drop-open-label:hover {
	background: var(--third-bg);
	color: var(--color);
}
#flb_search {
	margin-bottom: 0;
	width: 0;
	background: 0 0;
	transition: 0.5s;
	text-indent: 18px;
	font-family: var(--font);
	cursor: default;
}
#search-label {
	width: 1.85em;
	position: absolute;
/*	top: 0;
	bottom: 0;*/
	padding: 0;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	border-radius: var(--border-radius);
	left: 2px;
}
#search-form {
	position: relative;
	display: flex;
	align-items: center;
}
#flb_search:hover, #flb_search:focus-visible {
	width: 12em;
	background: var(--third-bg);
}
.account {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 2em;
}

/* for dropdown */
/* Ensure menuitem is always visible */
nav menuitem {
    position: relative;
    display: block;
    opacity: 1;
    transition: var(--transition);
}

/* Position the menu */
nav menuitem > menu {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    right: 0;
    padding: 5px;
    transition: var(--transition);
    min-width: 144px;
    display: none; /* Hide the menu by default */
}

/* Display menuitem and menu when checkbox is checked */
.drop-open:checked ~ menu,
.drop-open:checked ~ menu[open] {
    display: block;
}

/* Adjust opacity and pointer events for hover and open states */
menuitem:hover > menu,
.drop-open:checked ~ menu,
menu[open] {
    opacity: 1;
    pointer-events: initial;
    background: var(--third-bg);
    border-radius: var(--border-radius);
    transition: var(--transition);
}
menuitem > menu {
	padding: 5px;
}

/* Style links */
menu menuitem a {
    white-space: nowrap;
    text-decoration: none;
    display: flex;
    gap: .6em;
    color: var(--color);
    padding: 0.45em 0.8em;
    text-align: left;
    border-radius: var(--border-radius);
    transition: var(--transition);
    font-size: 14px;
}

/* Additional styles for account menu */
.account menu menuitem a {
    gap: .3em;
    flex-direction: column;
    align-items: center;
}

.account menu menuitem a svg {
    width: 28px;
}

.account menu menuitem a.selected svg,
.account menu menuitem a:hover svg {
    fill: currentColor;
}

/* Adjust hover styles */
menu menuitem a:hover,
menu menuitem a.selected {
    background: var(--btn-bg);
    color: var(--color);
}

/* Adjust submenu styles */
menuitem:hover > menu > menuitem,
menu:hover > menuitem,
menu[open] {
    opacity: 1;
    color: var(--color);
    transition: var(--transition);
}

/* Position submenu */
nav > menu > menuitem menuitem menu {
    transform: translateX(100%);
    top: 0;
    right: 0;
}


@media (prefers-reduced-motion: reduce) {
	:root {
		--transition: 0s !important;
	}
}
.mobile {
	display: none;
}

@media (max-width: 800px) {
	dialog {
		max-width: var(--body-max-width);
		width: 400px;
	}
	.dialog-head h3 {
		max-width: 90%;
	}
	a {
		cursor: default;
	}
	footer .container {
		flex-direction: column;
		gap: .8em;
	}
	#flb_search:hover, #flb_search:focus-visible {
		width: 40vw;
	}
/*	.account {
		flex-direction: column;
	}*/
/*	.account menu {
		width: 100% !important;
	}*/
	.account {
		gap: 1em;
	}
	.account .content {
		padding: .6em 1em 1em 0;
	}
	.account-card {
		padding: 0;
	}
	.account menu menuitem a {
		padding: 1em .8em;
	}
	.title-slug {
		flex-direction: column;
		gap: 0;
	}
	.title-slug .form-group {
		width: 100%;
	}
	.mob-mt-2 {
		margin-top: 10px;
	}
	.navbar .logged-in {
		margin-bottom: 0;
	}
	.nav-link img {
		width: 32px;
	}
	.navbar .main-content {
		align-items: center;
	}
/*	.custom-links {
		margin-top: .5em;
	}*/
	.desktop {
		display: none;
	}
	.badges:not(.badges.tags) {
		flex-direction: column;
		gap: 0;
	}
	.badges .badge {
		max-width: fit-content;
	}
	.mobile {
		display: block;
	}
	br.mobile {
		display: inline-block;
	}
	.navbar {
		padding: .8em 1em !important;
	}
	.card, .post-comments {
		width: 100% !important;
	}
/*	.alert {
		max-width: 95%;
	}*/
	.post-comments {
		margin: auto;
	}
	.post-info, .post-content img {
		max-width: 100%;
	}
	.post-content img {
		max-height: 100%;
	}
	.postItem-body {
		align-items: flex-start !important;
		flex-direction: column;
	}
	.post-title {
		align-items: flex-start;
		flex-direction: column;
	}
	.card-body .actions {
		display: flex;
		gap: 4px;
	}
	.drop-open {
		padding: .65em;
	}
	nav menuitem a {
		padding: 0.6em 0.8em;
	}
}
