* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--bg);
	color: var(--color);
	font-family: var(--font);
	max-width: var(--body-max-width);
	margin: auto;
}
code {
	background: var(--code-bg);
	padding: 3px;
}

.post-content p {
	max-width: fit-content;
	margin: 10px 0;
	line-height: 1.7;
	font-size: 14px;
	color: var(--post-content-color);
}

a {
	color: var(--accent);
}
a:hover {
	color: var(--link-hover);
	text-decoration: none;
}
.card, .btn, input, .alert { border-radius: var(--border-radius); }

img {
	border-radius: 3px;
}

footer {
	margin-top: 30px;
}
hr {
	color: var(--color);
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.3em;
}
.post-info h1, .post-info h2, .post-info h3, .post-info h4, .post-info h5, .post-info h6 {
	margin-bottom: 0;
}

.card {
	background: var(--second-bg);
	margin: 10px auto;
	width: var(--container-max-width);
	padding: 1em;
}
.navbar {
	padding: 5px;
	align-items: center;
}
.navbar .main-content {
	display: flex;
	justify-content: space-between;
}
.navbar .logged-in {
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
}
.navbar .logged-in div {
	text-align: right;
	color: var(--muted);
	font-size: 12px;
	max-width: fit-content;
	align-self: end;
	cursor: default;
}
.navbar .logged-in div a {
	text-decoration: inherit;
}
.btn {
	background: var(--btn-bg);
	color: var(--btn-color);
	text-decoration: none;
	border: none;
	font-family: var(--font);
	font-size: 16px;
	cursor: pointer;
	padding: var(--btn-padding);
}
.btn, .btn:active {
	transition: var(--transition);
}
.btn:hover {
	background: var(--btn-hover-bg);
	color: var(--btn-hover-color);
}
.btn-danger {
	background: #ff0000;
}
.btn-danger:hover {
	background: #AC0000;
}
.navbar-brand {
	text-decoration: none;
	align-items: center;
	display: flex;
	gap: 5px;
}
.navbar-brand span {
	color: var(--color);
}
.text-center {
	text-align: center;
}
.badges .badge, .post-list .time, .post-info .time span {
	font-size: small;
	color: var(--muted);
	display: flex;
	gap: 5px;
	align-items: center;
}
.badges .badge {
	margin-bottom: 10px;
}
.badges {
	display: flex;
	gap: 8px;
}
.post-list .time {
	margin-top: 5px;
}
/*.post-info {
	max-width: 70%;
}*/
/*.post-title {
	display: flex;
}*/
.post-title h2 {
	margin-bottom: 0;
}
.card-title {
	margin-bottom: 5px;
}
.container {
	max-width: var(--container-max-width);
	margin: auto;
}
.form-group {
	display: flex;
	flex-direction: column;
}
.form-group .btn {
	width: fit-content;
}
.form-control {
	background: var(--bg);
	color: var(--color);
	border: none;
	padding: 8px 14px;
	font-size: 14px;
	margin-bottom: 10px;
}
.form-control[disabled] {
	opacity: 0.5;
}
.form-control:focus-visible {
	outline: var(--input-outline);
	border-radius: var(--border-radius);
}
.mt-2 {
	margin-top: 10px;
}
.mtb-2 {
	margin: 10px 0;
}
.text-reset, .text-reset:hover {
	color: inherit;
	text-decoration: none;
}
.btn-link-reset {
	background: inherit;
	border: inherit;
	display: inherit;
	gap: inherit;
	font-size: inherit;
	font-family: inherit;
}
.btn-link-reset:hover {
	color: var(--color);
	cursor: pointer;
}
small, .small {
	font-size: 12px;
}
.alert {
	text-align: center;
	width: fit-content;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	background: var(--second-bg);
	padding: 3px 8px;
	font-size: 14px;
}
.post-content, .form-control, .card-body p, li {
	font-family: var(--content-font);
}
.hide {
	display: none;
}
#alert-close {
	appearance: none;
	color: var(--accent);
	width: 24px;
	height: 24px;
	font-size: 24px;
	cursor: pointer;
	margin-right: -4px;
}
#alert-close:hover {
	color: var(--link-hover);
}
#alert-close::before {
	content: '×';
	display: flex;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
}
.card li {
	margin-left: 25px;
}
footer .links a:first-child {
	margin-left: 0;
}
footer .links a:last-child {
	margin-right: 0;
}

label {
	font-size: small;
}
label[data-r]::after {
	content: '*';
	color: #ff0000;
	margin-left: 3px;
}
textarea {
	resize: vertical;
}
table {
	max-width: 100%;
	overflow: scroll;
	display: block;
}
table th, table td {
	border-radius: var(--border-radius);
	background: var(--third-bg);
	padding: 5px;
}
blockquote {
	border-left: 3px solid var(--color);
	padding: 3px;
	padding-left: 1em;
}
blockquote p {
	font-style: italic;
	margin: 0 !important;
	color: var(--color) !important;
}
blockquote p::before {
	content: open-quote;
}
blockquote p::after {
	content: close-quote;
}
mark {
	background: var(--accent);
	color: var(--bg);
}
.post-content img, .editor-preview img {
	max-width: var(--image-max-width);
	max-height: var(--image-max-height);
}
#logged-in-menu a {
	font-size: 14px;
}
/* for dropdown */
nav menuitem {
	position: relative;
	display: block;
	opacity: 0;
/*	cursor: pointer;*/
}

nav menuitem > menu {
	position: absolute;
	pointer-events: none;
	z-index: 2;
	right: 0;
	padding: 5px;
}
nav > menu {
	display: flex;
}

nav > menu > menuitem {
	pointer-events: all;
	opacity: 1;
}

menu menuitem a {
	white-space: nowrap;
	text-decoration: none;
	display: block;
	color: var(--color);
	padding: 0.6em 0.8em;
	text-align: left;
	border-radius: var(--border-radius);
	transition: var(--transition);
	font-size: 14px;
}

menuitem:hover > menu {
	pointer-events:initial;
	background: var(--third-bg);
	border-radius: var(--border-radius);
}
menu menuitem a:hover {
	background: var(--btn-bg);
	color: var(--color) !important;
}
menuitem:hover > menu > menuitem,
menu:hover > menuitem {
	opacity: 1;
	color: var(--color);
}
nav > menu > menuitem menuitem menu {
	transform: translateX(100%);
	top: 0;
	right: 0;
}

@media (prefers-reduced-motion: reduce) {
	:root {
		--transition: 0s !important;
	}
}
.mobile {
	display: none;
}

@media (max-width: 800px) {
	a {
		cursor: default;
	}
	.mob-mt-2 {
		margin-top: 10px;
	}
	.desktop {
		display: none;
	}
	.badges {
		flex-direction: column;
		gap: 0;
	}
	.badges .badge {
		max-width: fit-content;
	}
	.mobile {
		display: block;
	}
	br.mobile {
		display: inline-block;
	}
	.navbar {
		justify-content: space-around !important;
		padding: 1em !important;
	}
	.card, .post-comments {
		width: 95% !important;
	}
	.alert {
		max-width: 95%;
	}
	.post-comments {
		margin: auto;
	}
	.post-info, .post-content img {
		max-width: 100%;
	}
	.post-content img {
		max-height: 100%;
	}
	.postItem-body {
		align-items: flex-start !important;
		flex-direction: column;
	}
	.post-title {
		align-items: flex-start;
		flex-direction: column;
	}
	.card-body .actions {
		display: flex;
		gap: 4px;
	}
}
