{% extends 'base.html' %}

{% block title %} {{translations.admincp}} — {{config.blogName}} {% endblock %}
{% block content %}
<style>
	h3 {
		margin: .6em 0;
	}
/*	.category {
		margin: 1.5em 0;
	}*/
	.form-control {
		margin-bottom: 5px;
	}
	.form-control + .expl {
		margin-bottom: 10px;
	}
	.expl {
		font-size: 12px;
		color: var(--muted);
		font-family: var(--font) !important;
	}
	.posts {
		grid-template-columns: repeat(2, 1fr);
	}
	hr {
		opacity: .1;
		margin: .5em 0;
	}
	@media (max-width: 800px) {
		.posts {
			grid-template-columns: repeat(1, 1fr);
		}
	}
</style>
<div class="card">
	<div class="card-body">
		<h1 style="display: flex; align-items: center; gap: .5em; font-size: 24px;"><img src="{{ config.iconUrl }}" width="36">{{translations.admincp}}</h1>
		<div class="badges">
			<a class="badge time btn-link-reset text-reset" href="{{ url_for('admin_users') }}"><i class="ri-user-settings-fill"></i> {{translations.user_management}}</a>
		</div>
		<h2>{{translations.configuration}}</h2>
		<div class="badges">
			<a class="badge time btn-link-reset text-reset" href="{{ url_for('admin_currentconf') }}"><i class="ri-eye-fill"></i> {{translations.current_configuration}}</a>
		</div>
		<p class="expl">
			<br><br>
			<i class="ri-loop-right-fill"></i> — might take a server restart to apply
		</p>
		<form action="{{ url_for('admin') }}" method="POST" id="config-form">
			<div class="posts">
				<div class="category">
					<h3>Blog Information</h3>
					<p class="expl">Basic information about the blog such as its name, description, domain, administrator contact, and custom links that appear in the navigation bar.</p>
					<br>
					<div class="form-group">
						<label for="blogName">Name</label>
						<input class="form-control" type="text" name="blogName" id="blogName" value="{{ config.blogName }}">
						<p class="expl">Name of your blog.</p>
					</div>
					<div class="form-group">
						<label for="blogDesc">Description</label>
						<input class="form-control" type="text" name="blogDesc" id="blogDesc" value="{{ config.blogDesc }}">
						<p class="expl">Description of your blog.</p>
					</div>
					<div class="form-group">
						<label for="defaultDesc">Default Description</label>
						<input class="form-control" type="text" name="defaultDesc" id="defaultDesc" value="{{ config.defaultDesc }}">
						<p class="expl">Default blog description.</p>
					</div>
					<div class="form-group">
						<label for="iconUrl">Icon URL</label>
						<input class="form-control" type="text" name="iconUrl" id="iconUrl" value="{{ config.iconUrl }}">
						<p class="expl">Icon of your blog. A relative or full URL to the icon. Recommended aspect ratio - 1:1 (square).</p>
					</div>
					<div class="form-group">
						<label for="blogDomain">Domain</label>
						<input class="form-control" type="text" name="blogDomain" id="blogDomain" value="{{ config.blogDomain }}">
						<p class="expl">Domain, under which the blog is served from. A full URL to the main page of the blog.</p>
					</div>
					<div class="form-group">
						<label for="adminContact">Admin Contact</label>
						<input class="form-control" type="text" name="adminContact" id="adminContact" value="{{ config.adminContact }}">
						<p class="expl">Administrator's contact address. Can be an email address, a link, or a phone number.</p>
					</div>
					<div class="form-group">
						<label for="customLinks">Custom Links</label>
						<input class="form-control" type="text" name="customLinks" id="customLinks" value="{{ config.customLinks }}">
						<p class="expl">Additional links that will appear in the navigation bar. Add using Markdown and separate with spaces: <code>[link name 1](link url 1) [link name 2](link url 2)</code></p>
					</div>
				</div>
				<hr class="mobile">
				<div class="category">
					<h3>Registration & Permissions</h3>
					<p class="expl">Settings related to user registrations, including options to allow open registration, set registration request limits, allow users to change language or theme, and require account approval.</p>
					<br>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_registrationsOpened" 
						id="_registrationsOpened" 
						value="{{ config.registrationsOpened }}" 
						{% if config.registrationsOpened == 'True' %}checked{% endif %}>
						<input type="hidden" name="registrationsOpened" value="{{ config.registrationsOpened }}">
						<label style="margin-bottom: 0;" for="_registrationsOpened">Opened (everyone can register)</label>
					</div>
					<div class="form-group">
						<label for="registerRequestLimit">Register Request Limit</label>
						<input class="form-control" type="number" name="registerRequestLimit" id="registerRequestLimit" value="{{ config.registerRequestLimit }}">
						<p class="expl">Limit on how many accounts can one user register.</p>
					</div>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_allowChangingLanguage" 
						id="_allowChangingLanguage" 
						value="{{ config.allowChangingLanguage }}" 
						{% if config.allowChangingLanguage == 'True' %}checked{% endif %}>
						<input type="hidden" name="allowChangingLanguage" value="{{ config.allowChangingLanguage }}">
						<label style="margin-bottom: 0;" for="_allowChangingLanguage">Allow changing language</label>
					</div>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_allowChangingTheme" 
						id="_allowChangingTheme" 
						value="{{ config.allowChangingTheme }}" 
						{% if config.allowChangingTheme == 'True' %}checked{% endif %}>
						<input type="hidden" name="allowChangingTheme" value="{{ config.allowChangingTheme }}">
						<label style="margin-bottom: 0;" for="_allowChangingTheme">Allow changing theme</label>
					</div>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_requireAccountApproval" 
						id="_requireAccountApproval" 
						value="{{ config.requireAccountApproval }}" 
						{% if config.requireAccountApproval == 'True' %}checked{% endif %}>
						<input type="hidden" name="requireAccountApproval" value="{{ config.requireAccountApproval }}">
						<label style="margin-bottom: 0;" for="_requireAccountApproval">Require account approval</label>
					</div>
				</div>
				<hr class="mobile">
				<div class="category">
					<h3>Setting Limits</h3>
					<p class="expl">Limitations on the length of titles, slugs, and minimum title length for posts or pages.</p>
					<br>
					<div class="form-group">
						<label for="titleLengthLimit">Title Length Limit</label>
						<input class="form-control" type="number" name="titleLengthLimit" id="titleLengthLimit" value="{{ config.titleLengthLimit }}">
						<p class="expl">Length limit for post title in symbols. <i class="ri-loop-right-fill"></i></p>
					</div>
					<div class="form-group">
						<label for="slugLengthLimit">Slug Length Limit</label>
						<input class="form-control" type="number" name="slugLengthLimit" id="slugLengthLimit" value="{{ config.slugLengthLimit }}">
						<p class="expl">Length limit for post slug in symbols. <i class="ri-loop-right-fill"></i></p>
					</div>
					<div class="form-group">
						<label for="minimumTitleLength">Minimum Title Length</label>
						<input class="form-control" type="number" name="minimumTitleLength" id="minimumTitleLength" value="{{ config.minimumTitleLength }}">
						<p class="expl">Minimum title length for post/page in symbols. <i class="ri-loop-right-fill"></i></p>
					</div>
				</div>
				<hr class="mobile">
				<div class="category">
					<h3>Posts & Pages</h3>
					<p class="expl">Settings related to posts and pages, such as showing pages, enabling comments, post footers, displaying post dates, and enabling minimal mode.</p>
					<br>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_showPages" 
						id="_showPages" 
						value="{{ config.showPages }}" 
						{% if config.showPages == 'True' %}checked{% endif %}>
						<input type="hidden" name="showPages" value="{{ config.showPages }}">
						<label style="margin-bottom: 0;" for="_showPages">Show pages</label>
					</div>
					<div class="form-group">
						<label for="postsPerPage">Posts per page</label>
						<input class="form-control" type="number" name="postsPerPage" id="postsPerPage" value="{{ config.postsPerPage }}">
						<p class="expl">How many posts per page to show. <i class="ri-loop-right-fill"></i></p>
					</div>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_commentsEnabled" 
						id="_commentsEnabled" 
						value="{{ config.commentsEnabled }}" 
						{% if config.commentsEnabled == 'True' %}checked{% endif %}>
						<input type="hidden" name="commentsEnabled" value="{{ config.commentsEnabled }}">
						<label style="margin-bottom: 0;" for="_commentsEnabled">Enable comments</label>
					</div>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_postFooterEnabled" 
						id="_postFooterEnabled" 
						value="{{ config.postFooterEnabled }}" 
						{% if config.postFooterEnabled == 'True' %}checked{% endif %}>
						<input type="hidden" name="postFooterEnabled" value="{{ config.postFooterEnabled }}">
						<label style="margin-bottom: 0;" for="_postFooterEnabled">Enable post footer</label>
					</div>
					<div class="form-group">
						<label for="postFooter">Post Footer</label>
						<input class="form-control" type="text" name="postFooter" id="postFooter" value="{{ config.postFooter }}">
					</div>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_showPostDateInPost" 
						id="_showPostDateInPost" 
						value="{{ config.showPostDateInPost }}" 
						{% if config.showPostDateInPost == 'True' %}checked{% endif %}>
						<input type="hidden" name="showPostDateInPost" value="{{ config.showPostDateInPost }}">
						<label style="margin-bottom: 0;" for="_showPostDateInPost">Show post date in post</label>
					</div>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_showPostDateInList" 
						id="_showPostDateInList" 
						value="{{ config.showPostDateInList }}" 
						{% if config.showPostDateInList == 'True' %}checked{% endif %}>
						<input type="hidden" name="showPostDateInList" value="{{ config.showPostDateInList }}">
						<label style="margin-bottom: 0;" for="_showPostDateInList">Show post date in list</label>
					</div>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_minimalMode" 
						id="_minimalMode" 
						value="{{ config.minimalMode }}" 
						{% if config.minimalMode == 'True' %}checked{% endif %}>
						<input type="hidden" name="minimalMode" value="{{ config.minimalMode }}">
						<label style="margin-bottom: 0;" for="_minimalMode">Enable minimal mode</label>
					</div>
				</div>
				<hr class="mobile">
				<div class="category">
					<h3>Appearance & Style</h3>
					<p class="expl">Settings related to appearance and style of the blog.</p>
					<br>
					<div class="form-group">
						<label for="theme">Default theme</label>
						<select class="form-control" name="theme">
							{% for key, value in themes.items() %}
							<option value="{{ value }}" {% if config.theme == value %}selected{% endif %}>{{ key }}</option>
							{% endfor %}
						</select>
						<p class="expl">Theme that would be picked as the default when opening this blog. <strong>Note:</strong> this setting does not override user's selected theme.</p>
					</div>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_serifTitle" 
						id="_serifTitle" 
						value="{{ config.serifTitle }}" 
						{% if config.serifTitle == 'True' %}checked{% endif %}>
						<input type="hidden" name="serifTitle" value="{{ config.serifTitle }}">
						<label style="margin-bottom: 0;" for="_serifTitle">Serif Title</label>
					</div>
				</div>
				<hr class="mobile">
				<div class="category">
					<h3>Cache & Performance</h3>
					<p class="expl">Caching settings, including enabling/disabling cache, and setting the cache timeout.</p>
					<br>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_cacheEnabled" 
						id="_cacheEnabled" 
						value="{{ config.cacheEnabled }}" 
						{% if config.cacheEnabled == 'True' %}checked{% endif %}>
						<input type="hidden" name="cacheEnabled" value="{{ config.cacheEnabled }}">
						<label style="margin-bottom: 0;" for="_cacheEnabled">Enabled</label>
					</div>
					<div class="form-group">
						<label for="cacheTimeout">Timeout</label>
						<input class="form-control" type="number" name="cacheTimeout" id="cacheTimeout" value="{{ config.cacheTimeout }}">
						<p class="expl">Time in seconds, after which the cache expires.</p>
					</div>
				</div>
				<hr class="mobile">
				<div class="category">
					<h3>Search & Language</h3>
					<div class="form-group" style="flex-direction: row;margin: 10px 0;gap: .5em;align-items: center;">
						<input 
						style="margin-bottom: 0;" 
						class="form-control" 
						type="checkbox" 
						name="_searchEnabled" 
						id="_searchEnabled" 
						value="{{ config.searchEnabled }}" 
						{% if config.searchEnabled == 'True' %}checked{% endif %}>
						<input type="hidden" name="searchEnabled" value="{{ config.searchEnabled }}">
						<label style="margin-bottom: 0;" for="_searchEnabled">Enable search</label>
					</div>
					<div class="form-group">
						<label for="dateFormat">Date Format</label>
						<input class="form-control" type="text" name="dateFormat" id="dateFormat" value="{{ config.dateFormat }}">
					</div>
					<div class="form-group">
						<label for="defaultLangShort">Default language</label>
						<input class="form-control" type="text" name="defaultLangShort" id="defaultLangShort" value="{{ config.defaultLangShort }}">
					</div>
				</div>
			</div>
			<div class="form-group mt-2">
				<button type="submit" id="save-button" class="btn btn-primary mt-2" onclick="document.getElementById('config-form').submit();">{{translations.save_changes}}</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
    let formChanged = false;

    // Add event listeners to all form inputs
    document.querySelectorAll('input:not(.alert-close), select, textarea').forEach(function(input) {
        input.addEventListener('input', function() {
            formChanged = true;
        });
    });

    // Add event listener to checkboxes
	document.querySelectorAll('input[type=checkbox]').forEach(function(checkbox) {
	    checkbox.addEventListener('change', function() {
	        if (!checkbox.classList.contains('alert-close')) { // Add this condition
	            checkbox.nextElementSibling.value = this.checked ? 'True' : 'False';
	            formChanged = true;
	        }
	    });
	});

	// Add event listener to the save button
	document.getElementById('save-button').addEventListener('click', function() {
	    formChanged = false; // Reset the flag when the save button is clicked
	});

    // Add event listener to the form submit button
    document.querySelector('form').addEventListener('submit', function() {
        formChanged = false; // Reset the flag when the form is submitted
    });

    // Display the browser's default "unsaved changes" message
    window.addEventListener('beforeunload', function(e) {
        if (formChanged) {
            e.returnValue = ''; // Set a non-empty value to trigger the browser's message
        }
    });
</script>
{% endblock %}