{% extends 'base.html' %}
{% block title %} {{translations.user_management}} - {{translations.admincp}} — {{config.blogName}} {% endblock %}
{% block content %}
<style>
	th, td {
		background: 0 0 !important;
		font-size: 14px;
	}
	td .badge, .delete_user {
		gap: .3em;
		display: inline-flex;
	}
	dialog input.form-control,
	dialog select.form-control {
		width: 100%;
	}
	.badge {
		margin-bottom: 0;
	}
	.dialog-head {
		display: flex; align-items: center; justify-content: space-between;
		margin-bottom: 1em;
	}
	.dialog-head h3 {
		margin-bottom: 0;
	}
	.card-body .actions {
		gap: .6em;
	}
</style>
<div class="card">
	<div class="card-body">
		<h1 style="display: flex; align-items: center; gap: .5em; font-size: 24px;"><img src="{{ config.iconUrl }}" width="36">{{translations.admincp}}</h1>
		<h2>{{translations.user_management}}</h2>
		<div class="badges">
			<a class="badge btn-link-reset text-reset" href="{{url_for('admin')}}"><i class="ri-arrow-left-line"></i> {{translations.back}}</a>
		</div>
		<br>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Username</th>
					<th>Email</th>
					<th>Role</th>
					<th>Approved</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<!-- please forgive me for this mess of a code -->
				{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.name }}
						<dialog>
							<div class="dialog-head">
								<h3>Change username of {{ user.name }} (ID {{ user.id }})</h3>
								<span class="badge time" style="overflow: clip;"><button data-dialog-close class="btn-link-reset text-reset" title="Close"><i class="ri-close-large-line"></i></button></span>
							</div>
							<form method="POST">
								<input type="hidden" name="action" value="update_username">
								<input type="hidden" name="user_id" value="{{ user.id }}">
								<input class="form-control" type="text" name="new_username" placeholder="New Username" value="{{ user.name }}">
								<div class="form-group" style="
    justify-content: end;
    align-items: end;
">
									<button type="submit" class="btn btn-primary">Change username</button>
								</div>
							</form>
						</dialog>
						<span class="badge time" style="overflow: clip;"><button data-dialog-open class="btn-link-reset text-reset" title="Change username"><i class="ri-edit-fill"></i></button></span>
					</td>

					<td>{{ user.email }}
						<dialog>
							<div class="dialog-head">
								<h3>Change email of {{ user.name }} (ID {{ user.id }})</h3>
								<span class="badge time" style="overflow: clip;"><button data-dialog-close class="btn-link-reset text-reset" title="Close"><i class="ri-close-large-line"></i></button></span>
							</div>
							<form method="POST">
								<input type="hidden" name="action" value="update_email">
								<input type="hidden" name="user_id" value="{{ user.id }}">
								<input class="form-control" type="email" name="new_email" placeholder="New Email" value="{{ user.email }}">
								<div class="form-group" style="
    justify-content: end;
    align-items: end;
">
									<button type="submit" class="btn btn-primary">Change email</button>
								</div>
							</form>
						</dialog>
						<span class="badge time" style="overflow: clip;"><button data-dialog-open class="btn-link-reset text-reset" title="Change email"><i class="ri-edit-fill"></i></button></span>
					</td>
					<td>{{ user.role.capitalize() }}
						<dialog>
							<div class="dialog-head">
								<h3>Change role of {{ user.name }} (ID {{ user.id }})</h3>
								<span class="badge time" style="overflow: clip;"><button data-dialog-close class="btn-link-reset text-reset" title="Close"><i class="ri-close-large-line"></i></button></span>
							</div>
							<form method="POST">
								<input type="hidden" name="action" value="update_role">
								<input type="hidden" name="user_id" value="{{ user.id }}">
								<select name="new_role" class="form-control">
									<option value="writer" {% if user.role == 'writer' %}selected{% endif %}>Writer</option>
									<option value="administrator" {% if user.role == 'administrator' %}selected{% endif %}>Administrator</option>
								</select>
								<div class="form-group" style="
    justify-content: end;
    align-items: end;
">
									<button type="submit" class="btn btn-primary">Change role</button>
								</div>
							</form>
						</dialog>
						<span class="badge time" style="overflow: clip;"><button data-dialog-open class="btn-link-reset text-reset" title="Change role"><i class="ri-edit-fill"></i></button></span>
					</td>
					<td>{% if user.is_approved == 1 %}Yes{% else %}No{% endif %}
						<dialog>
							<div class="dialog-head">
								<h3>Change approval status of {{ user.name }} (ID {{ user.id }})</h3>
								<span class="badge time" style="overflow: clip;"><button data-dialog-close class="btn-link-reset text-reset" title="Close"><i class="ri-close-large-line"></i></button></span>
							</div>
							<form method="POST">
								<input type="hidden" name="action" value="update_approval">
								<input type="hidden" name="user_id" value="{{ user.id }}">
								<select name="new_approval" class="form-control">
									<option value="1" {% if user.is_approved == 1 %}selected{% endif %}>Approved</option>
									<option value="0" {% if user.is_approved == 0 %}selected{% endif %}>Not approved</option>
								</select>
								<div class="form-group" style="
    justify-content: end;
    align-items: end;
">
									<button type="submit" class="btn btn-primary">Change approval status</button>
								</div>
							</form>
						</dialog>
						<span class="badge time" style="overflow: clip;"><button data-dialog-open class="btn-link-reset text-reset" title="Change approval status"><i class="ri-edit-fill"></i></button></span>
					</td>
					<td>
						<div class="actions">
							<dialog>
								<div class="dialog-head">
									<h3>Change password of {{ user.name }} (ID {{ user.id }})</h3>
									<span class="badge time" style="overflow: clip;"><button data-dialog-close class="btn-link-reset text-reset" title="Close"><i class="ri-close-large-line"></i></button></span>
								</div>
								<form method="POST">
									<input type="hidden" name="action" value="change_password">
									<input type="hidden" name="user_id" value="{{ user.id }}">
									<input class="form-control" type="password" name="newpass" placeholder="New password">
									<input class="form-control" type="password" name="newpassconfirm" placeholder="Confirm new password">
									<div class="form-group" style="
    justify-content: end;
    align-items: end;
">
										<button type="submit" class="btn btn-primary">Change password</button>
									</div>
								</form>
							</dialog>
							<span class="badge time" style="overflow: clip;"><button data-dialog-open class="btn-link-reset text-reset" title="Change password"><svg width="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M18 8H20C20.5523 8 21 8.44772 21 9V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V9C3 8.44772 3.44772 8 4 8H6V7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7V8ZM16 8V7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7V8H16ZM11 14V16H13V14H11ZM7 14V16H9V14H7ZM15 14V16H17V14H15Z"></path></svg></button></span>
						<dialog>
							<div class="dialog-head">
								<h3>Are you sure you want to delete user {{ user.name }} (ID {{ user.id }})?</h3>
								<span class="badge time" style="overflow: clip;"><button data-dialog-close class="btn-link-reset text-reset" title="Close"><i class="ri-close-large-line"></i></button></span>
							</div>
							<form method="POST">
								<input type="hidden" name="action" value="delete_user">
								<input type="hidden" name="user_id" value="{{ user.id }}">
								<div class="form-group" style="flex-direction: row;justify-content: end;gap: 0.5em;align-items: center;">
									<button type="button" onclick="//document.querySelector('dialog').close();" class="btn" data-dialog-close>{{ translations.cancel }}</button>
									<button type="submit" class="btn btn-danger">{{ translations.delete }}</button>
								</div>
							</form>
						</dialog>
						<button title="Delete {{ user.name }} (ID {{ user.id }})" data-dialog-open class="btn btn-danger btn-link-reset text-reset">{{ translations.delete }}</button>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/dialog.js') }}"></script>
{% endblock %}