{% extends 'base.html' %}
{% block title %} {{translations.user_management}} - {{translations.admincp}} — {{config.blogName}} {% endblock %}
{% block content %}
<style>
	th, td {
		background: 0 0 !important;
		font-size: 14px;
	}
	td .badge, #delete_user {
		gap: .3em;
		display: inline-flex;
	}
	dialog input.form-control,
	dialog select.form-control {
		width: 100%;
	}
	.badge {
		margin-bottom: 0;
	}
	.dialog-head {
		display: flex; align-items: center; justify-content: space-between;
		margin-bottom: 1em;
	}
	.dialog-head h3 {
		margin-bottom: 0;
	}
	.card-body .actions {
		gap: .6em;
	}
</style>
<div class="card">
	<div class="card-body">
		<h1 style="display: flex; align-items: center; gap: .5em; font-size: 24px;"><img src="{{ config.iconUrl }}" width="36">{{translations.admincp}}</h1>
		<h2>{{translations.user_management}}</h2>
		<div class="badges">
			<a class="badge btn-link-reset text-reset" href="{{url_for('admin')}}"><svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z"></path></svg> {{translations.back}}</a>
		</div>
		<br>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Username</th>
					<th>Email</th>
					<th>Role</th>
					<th>Approved</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<!-- please forgive me for this mess of a code -->
				{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.name }}
						<dialog>
							<div class="dialog-head">
								<h3>Change username</h3>
								<span class="badge time" style="overflow: clip;"><button data-dialog-close class="btn-link-reset text-reset" title="Close"><svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z"></path></svg></button></span>
							</div>
							<form method="POST">
								<input type="hidden" name="action" value="update_username">
								<input type="hidden" name="user_id" value="{{ user.id }}">
								<input class="form-control" type="text" name="new_username" placeholder="New Username" value="{{ user.name }}">
								<div class="form-group">
									<button type="submit" class="btn">Change username</button>
								</div>
							</form>
						</dialog>
						<span class="badge time" style="overflow: clip;"><button data-dialog-open class="btn-link-reset text-reset" title="Change username"><svg width="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7.24264 17.9967H3V13.754L14.435 2.319C14.8256 1.92848 15.4587 1.92848 15.8492 2.319L18.6777 5.14743C19.0682 5.53795 19.0682 6.17112 18.6777 6.56164L7.24264 17.9967ZM3 19.9967H21V21.9967H3V19.9967Z"></path></svg></button></span>
					</td>

					<td>{{ user.email }}
						<dialog>
							<div class="dialog-head">
								<h3>Change email</h3>
								<span class="badge time" style="overflow: clip;"><button data-dialog-close class="btn-link-reset text-reset" title="Close"><svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z"></path></svg></button></span>
							</div>
							<form method="POST">
								<input type="hidden" name="action" value="update_email">
								<input type="hidden" name="user_id" value="{{ user.id }}">
								<input class="form-control" type="email" name="new_email" placeholder="New Email" value="{{ user.email }}">
								<div class="form-group">
									<button type="submit" class="btn">Change email</button>
								</div>
							</form>
						</dialog>
						<span class="badge time" style="overflow: clip;"><button data-dialog-open class="btn-link-reset text-reset" title="Change email"><svg width="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7.24264 17.9967H3V13.754L14.435 2.319C14.8256 1.92848 15.4587 1.92848 15.8492 2.319L18.6777 5.14743C19.0682 5.53795 19.0682 6.17112 18.6777 6.56164L7.24264 17.9967ZM3 19.9967H21V21.9967H3V19.9967Z"></path></svg></button></span>
					</td>
					<td>{{ user.role.capitalize() }}
						<dialog>
							<div class="dialog-head">
								<h3>Change role</h3>
								<span class="badge time" style="overflow: clip;"><button data-dialog-close class="btn-link-reset text-reset" title="Close"><svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z"></path></svg></button></span>
							</div>
							<form method="POST">
								<input type="hidden" name="action" value="update_role">
								<input type="hidden" name="user_id" value="{{ user.id }}">
								<select name="new_role" class="form-control">
									<option value="writer" {% if user.role == 'writer' %}selected{% endif %}>Writer</option>
									<option value="administrator" {% if user.role == 'administrator' %}selected{% endif %}>Administrator</option>
								</select>
								<div class="form-group">
									<button type="submit" class="btn">Change role</button>
								</div>
							</form>
						</dialog>
						<span class="badge time" style="overflow: clip;"><button data-dialog-open class="btn-link-reset text-reset" title="Change role"><svg width="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7.24264 17.9967H3V13.754L14.435 2.319C14.8256 1.92848 15.4587 1.92848 15.8492 2.319L18.6777 5.14743C19.0682 5.53795 19.0682 6.17112 18.6777 6.56164L7.24264 17.9967ZM3 19.9967H21V21.9967H3V19.9967Z"></path></svg></button></span>
					</td>
					<td>{% if user.is_approved == 1 %}Yes{% else %}No{% endif %}
						<dialog>
							<div class="dialog-head">
								<h3>Update approval status</h3>
								<span class="badge time" style="overflow: clip;"><button data-dialog-close class="btn-link-reset text-reset" title="Close"><svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z"></path></svg></button></span>
							</div>
							<form method="POST">
								<input type="hidden" name="action" value="update_approval">
								<input type="hidden" name="user_id" value="{{ user.id }}">
								<select name="new_approval" class="form-control">
									<option value="1" {% if user.is_approved == 1 %}selected{% endif %}>Approved</option>
									<option value="0" {% if user.is_approved == 0 %}selected{% endif %}>Not approved</option>
								</select>
								<div class="form-group">
									<button type="submit" class="btn">Update approval status</button>
								</div>
							</form>
						</dialog>
						<span class="badge time" style="overflow: clip;"><button data-dialog-open class="btn-link-reset text-reset" title="Update approval status"><svg width="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7.24264 17.9967H3V13.754L14.435 2.319C14.8256 1.92848 15.4587 1.92848 15.8492 2.319L18.6777 5.14743C19.0682 5.53795 19.0682 6.17112 18.6777 6.56164L7.24264 17.9967ZM3 19.9967H21V21.9967H3V19.9967Z"></path></svg></button></span>
					</td>
					<td>
						<div class="actions">
							<dialog>
								<div class="dialog-head">
									<h3>Change password</h3>
									<span class="badge time" style="overflow: clip;"><button data-dialog-close class="btn-link-reset text-reset" title="Close"><svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z"></path></svg></button></span>
								</div>
								<form method="POST">
									<input type="hidden" name="action" value="change_password">
									<input type="hidden" name="user_id" value="{{ user.id }}">
									<input class="form-control" type="password" name="newpass" placeholder="New password">
									<input class="form-control" type="password" name="newpassconfirm" placeholder="Confirm new password">
									<div class="form-group">
										<button type="submit" class="btn">Change password</button>
									</div>
								</form>
							</dialog>
							<span class="badge time" style="overflow: clip;"><button data-dialog-open class="btn-link-reset text-reset" title="Change password"><svg width="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M18 8H20C20.5523 8 21 8.44772 21 9V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V9C3 8.44772 3.44772 8 4 8H6V7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7V8ZM16 8V7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7V8H16ZM11 14V16H13V14H11ZM7 14V16H9V14H7ZM15 14V16H17V14H15Z"></path></svg></button></span>
							<form method="POST" id="delete_user">
								<input type="hidden" name="action" value="delete_user">
								<input type="hidden" name="user_id" value="{{ user.id }}">
								<span class="badge time" style="overflow: clip;"><button type="submit" class="btn btn-link-reset text-reset btn-danger" title="Delete user" onclick="return confirm('Are you sure you want to delete this user?')">Delete</button></span>
							</form>
						</div>
					</td>
				</div>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/dialog.js') }}"></script>
{% endblock %}