/* @theme Empty */

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/manrope/manrope-v15-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-500 - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/manrope/manrope-v15-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-600 - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	src: url('../../fonts/manrope/manrope-v15-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-700 - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/manrope/manrope-v15-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-800 - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	src: url('../../fonts/manrope/manrope-v15-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root, ::backdrop {
	--bg: #000;
	--second-bg: #111;
	--third-bg: #151515;
	--code-bg: #222;
	--color: #fff;
	--accent: #ddd;
	--btn-bg: #222;
	--btn-color: #ccc;
	--btn-hover-bg: #ccc;
	--btn-hover-color: var(--bg);
	--btn-danger-bg: #930000;
	--btn-danger-bg-hover: #710000;
	--danger-color: #f77;
	--primary-bg: #005095;
	--primary-bg-hover: #0065bb;
	--primary-color: var(--color);
	--muted: #b9b9b9;
	--input-outline: 1px solid var(--btn-hover-bg);
	--link-hover: var(--btn-hover-bg);
	--heading-font: "Manrope";
	--font: "Manrope";
	--content-font: sans-serif;
	--border-radius: 0;
	--btn-padding: 2px 5px;
	--form-btn-padding: 3px 6px;
	--body-max-width: 100vw;
	--container-max-width: 90vw;
	--image-max-width: 100%;
	--image-max-height: 400px;
	--transition: 0s;
	--post-content-color: #dedede;
	--fourth-bg: #33333399;
}
* {
	color-scheme: dark;
}
.btn-danger:hover {
	color: var(--color);
}
.dialog-head h3 {
	color: var(--color);
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}
.custom-links p {
	font-size: 14px;
}
.powered-by {
	opacity: .3;
}
@media screen and (max-width: 800px) {
	:root {
		--container-max-width: 96vw;
	}
}