@font-face {
	font-family: "Cantarell";
	font-display: block;
	font-weight: 100 800;
	src: local("Cantarell"), url("../../fonts/cantarell.woff2") format("woff2-variations");
}

:root {
	--bg: #f8f8f8;
	--second-bg: #fff; 
	--third-bg: #f0f0f0;
	--code-bg: #ddd;
	--color: #222;
	--accent: #0071b5;
	--btn-bg: #ddd;
	--btn-color: #222;
	--btn-hover-bg: #ccc;
	--btn-hover-color: #222; 
	--btn-danger-bg: #e60000;
	--btn-danger-bg-hover: #cc0000;
	--muted: #888;
	--input-outline: 1px solid #ddd;
	--link-hover: #005380;
	--font: "Cantarell";
	--content-font: sans-serif;
	--border-radius: 3px;
	--btn-padding: 3px 12px;
	--body-max-width: 800px;
	--container-max-width: 800px;
	--image-max-width: 800px;
	--image-max-height: 400px;
	--transition: 0s;
	--post-content-color: #252525;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}
code {
	background: var(--code-bg);
}
.nav-link, .navbar-collapse span {
	font-weight: 500;
	text-decoration: none;
}
.nav-link, .navbar-collapse span, footer .links a {
	margin: 0 2px;
}
.nav-link:last-child {
	margin: 0;
}
.card {
	box-shadow: 0px 0px 20px 0px var(--third-bg);
}
.card-body .actions {
	display: flex;
	gap: 4px;
}
.card-body .actions a {
	background: var(--btn-bg);
	color: var(--btn-color);
	padding: var(--btn-padding);
	border-radius: var(--border-radius);
	text-decoration: none;
	display: inline-flex;
	gap: 5px;
}
.card-body .actions a:hover {
	background: var(--btn-hover-bg);
	color: var(--btn-hover-color);
}

.btn-danger {
	background: var(--btn-danger-bg);
	color: var(--bg);
}
.btn-danger:hover {
	background: var(--btn-danger-bg-hover);
	color: var(--bg);
}
.form-group .btn, .btn-primary {
	--btn-padding: 0.6em 1.2em;
}

@media (max-width: 800px) {
	.form-group .btn, .form-group .btn-danger, .delete {
		width: 100%;
	}
	.form-actions {
		flex-direction: column !important;
	}
}