@font-face {
	font-family: "Jetbrains Mono";
	src: local("Jetbrains Mono"), url("../../fonts/jbmono.woff2");
}

:root {
	--bg: #00142d;
	--second-bg: #002048;
	--third-bg: #00377b;
	--code-bg: #00377b;
	--color: #fff;
	--accent: #07c3f2;
	--btn-bg: var(--accent);
	--btn-color: var(--bg);
	--btn-hover-bg: #0484a4;
	--btn-hover-color: var(--bg);
	--muted: #b9b9b9;
	--input-outline: 1px solid var(--accent);
	--link-hover: #0484a4;
	--font: "Jetbrains Mono";
	--content-font: sans-serif;
	--border-radius: 0;
	--btn-padding: 1px 3px;
	--body-max-width: 800px;
	--container-max-width: 800px;
	--image-max-width: 100%;
	--image-max-height: 400px;
	--transition: 0s;
	--post-content-color: #e1e1e1;
}

menu menuitem a:hover:not(#logged-in-menu .drop-open) {
	color: var(--bg) !important;
}