{% extends 'base.html' %}

{% block title %} Current Configuration - AdminCP {% endblock %}
{% block content %}
<div class="card">
	<div class="card-body">
		<h2>Current FlaskBlog configuration</h2>
		<a href="{{url_for('admin')}}" class="btn">Back</a>
		<br><br>
		<style>
			th {
				text-align: left;
			}
		</style>
		<table>
			<thead>
				<tr>
					<th scope="col">Setting</th>
					<th scope="col">Value</th>
				</tr>
			</thead>
			<tbody>
				{% for key, value in config.items() %}
				<tr>
					<th scope="row">{{ key }}</th>
					<td>{{ value }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
