<!DOCTYPE html>
<html lang="en" class="{{config['THEME']}}">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="{{ config.ICON_URL }}">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
	{% set theme = "css/themes/" + theme_name %}
	<link rel="stylesheet" href="{{ url_for('static', filename=theme) }}">
	<title>{% block title %} {% endblock %}</title>
</head>
<body>
	<br>
	{% if config['SERIF_TITLE'] == "True" %}
	<style>
		.post-title h1, .post-title h3 {
			font-family: 'Garamond', serif;
		}
	</style>
	{% endif %}
	<nav class="navbar">
		<div class="main-content" style="cursor: default;">
			<div class="nav-links">
				<a class="navbar-brand nav-link" href="{{ url_for('index')}}">
					{% if config['ICON_URL'] | length > 0 %}
					<img src="{{ config.ICON_URL }}" width="24">
					{% endif %}
					<span>{{ config.BLOG_NAME }}</span>
				</a>
			</div>

			<div class="navbar-collapse" id="navbarNav" style="display: flex; align-items: center; gap: 5px;">
				{% if config.SEARCH_ENABLED == "True" %}
				<div class="form-group">
					<form action="{{ url_for('search') }}" method="get" id="search-form">
						<label for="search" id="search-label"><svg width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="var(--muted)"><path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"></path></svg></label>
						<input class="form-control" id="search" style="margin-bottom: 0;" type="text" name="q" placeholder="{{translations.search_posts}}">
						<button type="submit" style="display: none;" aria-label="Search"></button>
					</form>
				</div>
				{% endif %}
				<a class="nav-link" href="{{url_for('posts')}}">Posts</a>
				{% if config.SHOW_PAGES == "True" or session['user'] %}

				<a class="nav-link" href="{{url_for('pages')}}">Pages</a>
				{% endif %}
				<style>
					#navbarNav .nav-link, #navbarNav span {
						display: none;
					}
				</style>
				<nav style="display: flex; justify-content: flex-end; color: var(--muted);">
					<menu>
						<menuitem id="logged-in-menu">
							<a class="drop-open"><svg width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg></a>
							<menu>
								{% if session['user'] %}
								<menuitem style="font-size: 12px; color: var(--muted); padding: .5em .9em;">
									{{translations.logged_in_as}} <b>{{ session['user'] }}</b>
								</menuitem>
								{% endif %}
								<menuitem><a href="{{ url_for('posts') }}">{{translations.posts_menu}}</a></menuitem>
								<menuitem><a href="{{ url_for('pages') }}">{{translations.pages_menu}}</a></menuitem>
								{% if session['user_role'] == 'writer' or session['user_role'] == 'admin' %}
								<menuitem><hr></menuitem>
								<menuitem><a href="{{ url_for('create') }}">{{translations.new_post}}</a></menuitem>
								<menuitem><a href="{{ url_for('createPage') }}">{{translations.new_page}}</a></menuitem>
								<menuitem><hr></menuitem>
								{% if session['user'] == 'admin' %}
								<menuitem><a href="{{ url_for('admin') }}">{{translations.admincp}}</a></menuitem>
								{% endif %}
								<menuitem><a href="{{ url_for('accountSettings') }}">{{translations.account_settings}}</a></menuitem>
								<menuitem><a href="{{ url_for('logout') }}">{{translations.logout}}</a></menuitem>
								{% else %}
								<menuitem><hr></menuitem>
								{% if config.REGISTRATIONS_OPENED == "True" %}
								<menuitem><a href="{{ url_for('register') }}">{{ translations.register_menu }}</a></menuitem>
								{% endif %}
								<menuitem><a href="{{ url_for('login') }}">{{translations.login_menu}}</a></menuitem>
								{% endif %}
							</menu>
						</menuitem>
					</menu>
				</nav>

			</div>
		</div>
		{% if config['CUSTOM_LINKS'] | length > 0 %}
		<div class="custom-links">
			{{ config['CUSTOM_LINKS']|render_markdown }}
		</div>
		{% endif %}
	</nav>
	<br>
	<div class="container">
		{% for message in get_flashed_messages() %}
		<div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
			<input type="checkbox" id="alert-close" class="alert-close">
			<div class="alert-content">{{ message }}</div>
		</div>
		{% endfor %}
		{% block content %} {% endblock %}
	</div>
	<footer class="text-center" style="margin-bottom: 30px;">
		<div class="container">
			<div class="links" style="cursor: default;display: flex; justify-content: center;align-items: center; gap: 2em;">
				<a href="{{url_for('rssFeed')}}" style="margin: 0;font-size: 0px;color: var(--muted);" title="RSS"><svg width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 3C12.9411 3 21 11.0589 21 21H18C18 12.7157 11.2843 6 3 6V3ZM3 10C9.07513 10 14 14.9249 14 21H11C11 16.5817 7.41828 13 3 13V10ZM3 17C5.20914 17 7 18.7909 7 21H3V17Z"></path></svg></a>
				{% if config['ALLOW_CHANGING_THEME'] == "True" or config['ALLOW_CHANGING_LANGUAGE'] == "True" %}
				<div class="settings" style="display: flex;gap: .8em;">
					{% if config['ALLOW_CHANGING_LANGUAGE'] == "True" %}
					<form id="language-form" action="{{ url_for('changeLang') }}" style="display: flex;justify-content: center;align-items: center;gap: 1em;" method="POST">
						<div class="form-group" style="flex-direction: row;gap: .3em;">
							<svg width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="var(--muted)"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM9.71002 19.6674C8.74743 17.6259 8.15732 15.3742 8.02731 13H4.06189C4.458 16.1765 6.71639 18.7747 9.71002 19.6674ZM10.0307 13C10.1811 15.4388 10.8778 17.7297 12 19.752C13.1222 17.7297 13.8189 15.4388 13.9693 13H10.0307ZM19.9381 13H15.9727C15.8427 15.3742 15.2526 17.6259 14.29 19.6674C17.2836 18.7747 19.542 16.1765 19.9381 13ZM4.06189 11H8.02731C8.15732 8.62577 8.74743 6.37407 9.71002 4.33256C6.71639 5.22533 4.458 7.8235 4.06189 11ZM10.0307 11H13.9693C13.8189 8.56122 13.1222 6.27025 12 4.24799C10.8778 6.27025 10.1811 8.56122 10.0307 11ZM14.29 4.33256C15.2526 6.37407 15.8427 8.62577 15.9727 11H19.9381C19.542 7.8235 17.2836 5.22533 14.29 4.33256Z"></path></svg>
							<select class="form-control" id="language" name="language" style="margin-bottom: 0; padding: 0;" onchange="document.getElementById('language-form').submit();">
								<option value="en" {% if lang == 'en' %}selected{% endif %}>English</option>
								<option value="ru" {% if lang == 'ru' %}selected{% endif %}>Русский</option>
							</select>
						</div>
					</form>
					{% endif %}
					{% if config['ALLOW_CHANGING_THEME'] == "True" %}
					<form action="{{ url_for('changeTheme') }}" id="theme-form" method="POST">
						<div class="form-group" style="flex-direction: row;gap: .3em;">
							<svg width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="var(--muted)"><path d="M12 2C17.5222 2 22 5.97778 22 10.8889C22 13.9556 19.5111 16.4444 16.4444 16.4444H14.4778C13.5556 16.4444 12.8111 17.1889 12.8111 18.1111C12.8111 18.5333 12.9778 18.9222 13.2333 19.2111C13.5 19.5111 13.6667 19.9 13.6667 20.3333C13.6667 21.2556 12.9 22 12 22C6.47778 22 2 17.5222 2 12C2 6.47778 6.47778 2 12 2ZM7.5 12C8.32843 12 9 11.3284 9 10.5C9 9.67157 8.32843 9 7.5 9C6.67157 9 6 9.67157 6 10.5C6 11.3284 6.67157 12 7.5 12ZM16.5 12C17.3284 12 18 11.3284 18 10.5C18 9.67157 17.3284 9 16.5 9C15.6716 9 15 9.67157 15 10.5C15 11.3284 15.6716 12 16.5 12ZM12 9C12.8284 9 13.5 8.32843 13.5 7.5C13.5 6.67157 12.8284 6 12 6C11.1716 6 10.5 6.67157 10.5 7.5C10.5 8.32843 11.1716 9 12 9Z"></path></svg>
							<select class="form-control" name="theme" style="margin-bottom: 0; padding: 0;" onchange="document.getElementById('theme-form').submit();">
								{% for key, value in themes.items() %}
								<option value="{{ value }}" {% if session.get('theme') == value %}selected{% endif %}>{{ key }}</option>
								{% endfor %}
							</select>
						</div>
					</form>
					{% endif %}
				</div>
				{% endif %}
			</div>
			<p class="small powered-by" style="cursor: default; color: var(--muted);"><br>{{translations.powered_by}} FlaskBlog {{ version_mod_left }}{{ version }}{{ version_mod_right }} <span>·</span> <a href="{{url_for('about')}}" class="text-reset">{{translations.about_flaskblog}}</a> <span>·</span> <a href="https://codeberg.org/mystie/flaskblog" target="_blank" class="text-reset">{{translations.source_code}}</a></p>
		</div>
	</footer>
	{% block scripts %} {% endblock %}
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const alertClose = document.querySelector('.alert-close');
			const alert = document.querySelector('.alert');

			alertClose.addEventListener('change', function() {
				if (alertClose.checked) {
					alert.classList.add('hide');
				} else {
					alert.classList.remove('hide');
				}
			});
		});

	</script>
</body>
</html>
