{% extends 'base.html' %}
{% block title %} Edit "{{ page['title'] }}" - {{ config.BLOG_NAME }} {% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/easymde_custom.css') }}">
<script src="{{ url_for('static', filename='js/easymde.min.js') }}"></script>
<div class="card">
	<div class="card-body">
		<h2 class="card-title">Edit "{{ page['title'] }}"</h2>
		<form method="post">
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" name="title" placeholder="Page title"
				class="form-control"
				value="{{ request.form['title'] or page['title'] }}">
			</input>
		</div>
		<div class="form-group">
			<label for="slug">Unique slug</label>
			<input type="text" name="slug" class="form-control" value="{{ page['slug'] }}">
		</input>
	</div>
	<div class="form-group">
		<label for="content">Content</label>
		<textarea name="content" id="post-content-input" placeholder="Page content"
		class="form-control">{{ request.form['content'] or page['content'] }}</textarea>
	</div>

	<div class="form-group form-actions" style="flex-direction: row; justify-content: space-between; align-items: center;">
		<button type="submit" class="btn btn-primary mt-2">Save & return</button>
	</form>

	<form class="delete" action="{{ url_for('deletePage', slug=page['slug']) }}" method="POST">
		<input type="submit" value="Delete Page"
		class="btn btn-danger mt-2"
		onclick="return confirm('Are you sure you want to delete this page?')">
	</form>
</div>
</form>
</div>
</div>
{% endblock %}
{% block scripts %}
<script>
	const easyMDE = new EasyMDE({element: document.getElementById('post-content-input')});
</script>
{% endblock %}
