{% extends 'base.html' %}
{% block title %} {{ post['title'] }} - {{ config.SITE_NAME }} {% endblock %}
{% block content %}
<div class="card post text-bg-light mt-3 mb-5">
	<div class="card-body">
		<div class="post-title">
			<h2>{{ post['title'] }}</h2>
			{% if session['user'] %}
			<a class="btn" href="{{ url_for('edit', slug=post['slug']) }}">Edit</a>
			{% endif %}
		</div>
		<span class="badge time bg-primary">{{ post['created'] }}</span>
		<div class="post-content">{{ to_html(post['content'])|safe }}</div>
	</div>
</div>
<h2 class="text-center">Leave a comment!</h2>
<div class="post-comments">
	<script src="https://{{ giscus.INSTANCE }}/client.js"
		data-repo="{{ giscus.REPO }}"
		data-repo-id="{{ giscus.REPO_ID }}"
		data-category="{{ giscus.CATEGORY }}"
		data-category-id="{{ giscus.CATEGORY_ID }}"
		data-mapping="{{ giscus.MAPPING }}"
		data-strict="{{ giscus.STRICT }}"
		data-reactions-enabled="{{ giscus.REACTIONS_ENABLED }}"
		data-emit-metadata="{{ giscus.EMIT_METADATA }}"
		data-input-position="{{ giscus.INPUT_POSITION }}"
		data-theme="{{ giscus.THEME }}"
		data-lang="{{ giscus.LANG }}"
		data-loading="{{ giscus.LOADING }}"
		crossorigin="anonymous"
		async>
	</script>
</div>
{% endblock %}