{% extends 'base.html' %}
{% block title %} {{translations.edit}} "{{ post['title'] }}" — {{ config.blogName }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/easymde_custom.css') }}">
<script src="{{ url_for('static', filename='js/easymde.min.js') }}"></script>

<div class="card">
	<div class="card-body">
		<h2 class="card-title">{{translations.edit}} "{{ post['title'] }}"</h2>
		<form method="post">
			<div class="title-slug">
				<div class="form-group" style="width: 100%;">
					<input type="text" name="title" placeholder="Title (required)" style="width: 100%; font-size: 18px;" class="form-control"
					value="{{ request.form['title'] or post['title'] }}">
				</div>
				<div class="form-group">
					<input type="text" name="slug" class="form-control" placeholder="Slug (optional)" value="{{ post['slug'] }}">
				</div>
			</div>
			<div class="form-group">
				<input type="text" name="cats"
				placeholder="{{translations.cats_input}}" class="form-control"
				value="{{ request.form['cats'] or ', '.join(post['categories']) }}">
			</div>
			<div class="form-group">
				<input type="text" name="tags"
				placeholder="{{translations.tags_input}}" class="form-control"
				value="{{ request.form['tags'] or ', '.join(post['tags']) }}"></input>
			</div>
			<div class="form-group">
				<input type="text" name="authors"
				placeholder="{{translations.authors_input}}" class="form-control"
				value="{{ request.form['authors'] or ', '.join(post['authors']) }}">
			</div>
			<div class="form-group">
				<textarea name="content" id="post-content-input" placeholder="{{translations.content_placeholder}}" class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
			</div>

			<div class="form-group form-actions" style="flex-direction: row; justify-content: space-between; align-items: center;">
				<button type="submit" class="btn btn-primary mt-2">{{translations.save_and_return}}</button>
			</form>
			<dialog>
				<div class="dialog-head">
					<h3>{{ translations.post_delete_confirm }}</h3>
					<span class="badge time" style="overflow: clip;"><button type="button" data-dialog-close class="btn-link-reset text-reset" title="Close"><i class="ri-close-large-line"></i></button></span>
				</div>
				<form class="delete" action="{{ url_for('delete', slug=post['slug']) }}" method="POST">
					<div class="form-group" style="flex-direction: row;justify-content: end;gap: 0.5em;align-items: center;">
						<button type="button" onclick="//document.querySelector('dialog').close();" class="btn" data-dialog-close>{{ translations.cancel }}</button>
						<button type="submit" class="btn btn-danger">{{translations.delete}}</button>
					</div>
				</form>
			</dialog>
			<button type="button" data-dialog-open class="btn btn-danger mt-2">{{translations.delete_post}}</button>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/dialog.js') }}"></script>
<script>
	const easyMDE = new EasyMDE({element: document.getElementById('post-content-input')});
</script>
{% endblock %}
