{% extends 'base.html' %}
{% block title %} {{ post['title'] }} — {{ config.blogName }} {% endblock %}
{% block content %}
<script type="text/javascript" src="{{ cactus.apiUrl }}/cactus.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/cactus_custom.css') }}" type="text/css">
<div class="card post">
	<div class="card-body">
		<div class="post-title">
			<h1>{{ post['title'] }}</h1>
		</div>
		<div class="badges">
			{% if config['showPostDateInPost'] == "True" %}
			<span class="badge time"><i class="ri-quill-pen-fill"></i> {{ post['created_formatted'] }}</span>
			{% endif %}
			<span class="badge time" style="overflow: clip;"><button class="btn-link-reset text-reset" onclick="copy('{{post.slug}}')" title="{{translations.copy_permalink}}"><i class="ri-link"></i> <span>{{translations.copy_permalink}}</span></button></span>
			{% if session['user'] %}
			<a class="badge time btn-link-reset text-reset" href="{{ url_for('edit', slug=post['slug']) }}" title="{{translations.edit}}"><i class="ri-edit-fill"></i> <span>{{translations.edit}}</span></a>
			{% endif %}
		</div>
		<div class="badges tags">
			{% if post['tags'] != [''] %}
			<div class="badge icon"><i class="ri-hashtag"></i></div>
			{% for tag in post['tags'] %}
			<a class="badge tag" href="/tag/{{ tag }}/">{{ tag }}</a>
			{% endfor %}
			{% endif %}
		</div>
		<div class="badges tags">
			{% if post['categories'] != [''] %}
			<div class="badge icon"><i class="ri-folders-fill"></i></div>
			{% for category in post['categories'] %}
			<a class="badge tag" href="/category/{{ category }}/">{{ category }}</a>
			{% endfor %}
			{% endif %}
		</div>
        <div class="post-authors" style="display: flex;gap: .5em;margin-bottom: 1em;margin-top:.5em;align-items: center;">
            {% for author in post['author_details'] %}
                <div class="author">
                	<a href="/a/{{ author.name }}/">
	                    {% if author.avatar_url %}
	                        <img src="{{ author.avatar_url }}" alt="{{ author.name }}" class="author-avatar" width="24">
	                    {% endif %}
	                    <span class="author-name">{{ author.name }}</span>
	                </a>
                </div>
            {% endfor %}
        </div>
		<div class="post-content">{{ post.content|render_markdown }}</div>
		{% if config.postFooterEnabled == "True" %}
		<div class="post-footer">{{ to_html(config.postFooter)|safe }}</div>
		{% endif %}
	</div>
</div>

{% if config.commentsEnabled == "True" %}
<br>
<h2 class="text-center">{{ translations.leave_a_comment }}</h2>
<br>
<div class="post-comments" id="post-comments">
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script>
initComments({
  node: document.getElementById("post-comments"),
  defaultHomeserverUrl: "{{ cactus.defaultHomeserverUrl }}",
  serverName: "{{ cactus.serverName }}",
  siteName: "{{ cactus.siteName }}",
  commentSectionId: "section-{{ post['slug'] }}-{{ post['id'] }}"
})
</script>
<script>
	function copy(link) {
    	navigator.clipboard.writeText("{{config.blogDomain}}/" + link + "/");
	}
</script>
{% endblock %}
