{% extends 'base.html' %}
{% block title %} {{ translations.reset_password }} - {{ translations.step }} 1 — {{ config.blogName }} {% endblock %}
{% block content %}
<style>
	.login .form-control {
		padding: .7em 16px;
	}
</style>
<div class="card login">
	<div class="card-body">
		<img src="{{ config.iconUrl }}" width="48" alt="Icon for {{ config.blogName }}" style="margin: 0 auto 0.5em;display: flex;">
		<h2 class="card-title text-center">{{ translations.reset_password }} - {{ translations.step }} 1</h2>
		<p class="expl text-center" style="margin-bottom: 2em;">Please enter your email address that you used to create your account.</p>
		<form method="post" style="margin-top: 10px;">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" required name="email"
				placeholder="Your email address" class="form-control"
				value="{{ request.form['email'] }}"></input>
			</div>
			<div class="form-group" style="margin-bottom: 10px;font-size: 14px;flex-direction: row;justify-content: space-between;">
				<a href="{{ url_for('login') }}">Back to login</a>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary mt-2" style="margin: auto;width: 100%;">{{ translations.send_reset_email }}</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
