{% extends 'base.html' %}
{% block title %} Password Reset Success — {{ config.blogName }} {% endblock %}
{% block content %}
<style>
	.login .form-control {
		padding: .7em 16px;
	}
</style>
<div class="card login">
	<div class="card-body">
		<img src="{{ config.iconUrl }}" width="48" alt="Icon for {{ config.blogName }}" style="margin: 0 auto 0.5em;display: flex;">
		<h2 class="card-title text-center">Password Reset Success</h2>
		<p class="expl text-center" style="margin-bottom: 2em;">Your password was successfully reset, you can login into your account now.</p>

			<div class="form-group">
				<a href="{{ url_for('login') }}"><button class="btn btn-primary mt-2" style="margin: auto;width: 100%;">Go to Login</button></a>
			</div>
	</div>
</div>
{% endblock %}
